<footer>
    <div>
        Made with &#9829; by ChefDevs ||
        <b><a href="/about-us">About Us</a></b>
    </div>
    <div>
        &copy; Copyright 2022 &nbsp;&nbsp;
        <img src="/images/chefdevs_logo_v2.png" alt="chefdevs logo"> <br>
    </div>
</footer>