<footer>
    &copy; Copyright 2022
    <img src="/images/chefdevs_logo_v2.png" alt="chefdevs logo"> <br>
    Background Image Photo by Ray Piedra: <a href="https://www.pexels.com/photo/burger-and-vegetables-placed-on-brown-wood-surface-1565982/" target=”_blank”>Pexels</a>
</footer>