<header>
    <div id="topHead" class="logo_title">
      <a href="/search"><img src="/images/receipeasy_logo_v2.png" alt="RecipEasy logo"/></a>
      <% if (typeof(user) != undefined) {%>
        <b><%= user %> </b>
      <% } %>  
    </div>
    
    <nav class="navbar">
      <ul>
        <li>
          <div class="svg-wrapper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150"/>
              <div id="text">
                <a href="/search"><span class="spot"></span>Search</a>
              </div>
            </svg>
          </div>       
        </li>
        <li>
          <div class="svg-wrapper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150" />
              <div id="text">
                <a href="/add-recipe"><span class="spot"></span>Add Recipe</a>
              </div>
            </svg>
          </div> 
        </li>
        <% if (typeof(userLog) != "undefined" && userLog){ %> 
        <li>
          <div class="svg-wrapper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
              <rect id="shape" height="40" width="150" />
              <div id="text">
                <a href="/dashboard"><span class="spot"></span>My Recipes</a>
              </div>
            </svg>
          </div> 
        </li>
        <% } %>
          <% if (typeof(userLog) != "undefined" && userLog){ %> 
            <li>
            <div class="svg-wrapper">
              <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
                <div id="text">
                  <a href="/logout"><span class="spot"></span> Logout</a>
                </div>
              </svg>
            </div>
          </li>
            <% } else{%>
              <li>
              <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                  <rect id="shape" height="40" width="150" />
                  <div id="text">
                    <a href="/login"><span class="spot"></span>Login</a>
                  </div>
                </svg>
              </div>
              </li>
          <% } %> 
      </ul>
  </nav> 
  <div style="clear: both;"></div>
</header>
