<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <title>RecipEasy: About Us</title>
  </head>
  <body>
    <div class="container">
        <%- include('partials/header-nav.ejs') %> 
        <main>
          <div class="about-us">
          <div class="aboutus-top">
            <div class="aboutus-title">
              <h1>About Us</h1>
            </div>
            <div class="aboutus-desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem numquam a placeat dolore. Ut dolores modi culpa accusantium dignissimos, ab eos atque quo molestias voluptates asperiores exercitationem possimus minima.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, impedit ullam labore vel in.
              </p>
            </div>
          </div>
          
          <div class="aboutus-bottom">
            <div class="aman-class">
              <div class="aman-pic">
                <img src="/images/aman.jpeg" alt="">
              </div>
              <div class="aman-desc">
                <h4>AMAN KUMAR</h4>
                <p>Analysing and Testing <br>
                  <a href="mailto:amankumar7049@conestogac.on.ca"><i class="fa-solid fa-envelope"></i>&nbsp; Contact</a></p></p>
              </div>
            </div>

            <div class="anmol-class">
              <div class="anmol-pic">
                <img src="/images/anmol.jpeg" alt="anmol photo">
              </div>
              <div class="anmol-desc">
                <h4>ANMOL</h4>
                <p>UX Designer <br>
                  <a href="mailto:avirdi7298@conestogac.on.ca"><i class="fa-solid fa-envelope"></i>&nbsp; Contact</a> </p>
              </div>
            </div>

            <div class="syed-class">
              <div class="syed-pic">
                <img src="/images/syed.jpeg" alt="">
              </div>
              <div class="syed-desc">
                <h4>SYED TASNIM AHMED</h4>
                <p>Lead Programmer <br>
                  <a href="mailto:sahmed2327@conestogac.on.ca"><i class="fa-solid fa-envelope"></i>&nbsp; Contact</a></p>
              </div>
            </div>
          </div>
        </div>
          
        </main>
        <%- include("partials/footer.ejs")  %> 
    </div>
</body>
</html>