<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <title>RecipEasy: About Us</title>
  </head>
  <body>
    <div class="container">
        <%- include('partials/header-nav.ejs') %> 
        <main>
        </main>
        <%- include("partials/footer.ejs")  %> 
    </div>
</body>
</html>