body{
    margin: 0 auto;
    background-image: url(/images/pexels-ray-piedra_blur.jpg);
    /* background-color: black; */
    font-family: 'Poor Story', cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body .container{
    width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Poor Story', cursive;
    font-size: 30px;
}
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
img{
    width: 100%;
}
h1, h2, h3{
    text-shadow:  0 5px 5px #15fd00;
}
a{
    color: white;
}
/* header and navigation bar */
nav{
    float: right;
    margin-top: 40px ;
}
.logo_title {
    width: 200px;
    padding: 10px;
    float: left;
}
nav, footer {
    padding: 10px;
    font-size: 20px;
}
footer img{
    width: 10%;
    
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-shadow:  0 5px 5px #15fd00;
  border: 2px solid #b3fd00;
  border-radius: 20px;
  
}
nav a:hover{
  background-color: #b3fd00;
  color: #084a83;
}

/* form layout */
form{
    margin: auto;
    box-shadow: 0 0 20px white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.fieldwrapper{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.search-results form{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#search_keywords{
width: 300px;
border-radius: 10px;
}

.fieldwrapper-search{
    margin: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr;
}


/* error msg */
.fieldwrapper p{
    font-size: 11px;
    text-align: right;
    font-style: italic;
    color: #fbff00;
    margin: 0px;
    padding: 0px;
}
.errors p{
    font-style: italic;
    color: #fbff00;
    text-align: right;
}

.fieldwrapper input{
    width: 100%;
}
.item_fieldwrapper{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.labelwrapper{
    padding: 30px;
    text-align: left;
}
.labelwrapper-search{
    
}
fieldset legend{
    font-size: larger;
    font-weight: bold;
}

/* input styles */
input:hover{
    border: 2px solid #b3fd00; 
}
input, textarea {
    border: 2px solid white;
    height: 25px;
    font-size: 16px;
    font-family: 'Poor Story', cursive;
}
select{
    height: 30px;
}

/* submit button */
input[type="submit"], input[type="reset"]{
    min-width: 100px;
    margin-top: 30px;
    background-color: #b3fd00;
    font-size: large;
    height: 40px;
    box-shadow: -2px -2px 0 #afa405;
    border-radius: 8px;
    color: black;
}
input[type="submit"]:active, input[type="reset"]:active{
    color: red;
    font-size: x-small;
    box-shadow: none;
}
input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: #15fd00;
}

/* receipt */
.tablewrapper{
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
    width: auto;
    display: inline-block;
    padding: 20px;
    font-size: 18px;  
}
.tablewrapper p{
    text-align: left;
    padding: 20px;
} 

/* table, dashboard */
table, td, th {
    border: 2px solid #b3fd00;
    padding: 10px;
}
th{
    position: sticky;
    top: 0;
    background-color: #83b807;
    color: black;
}
table{
    border-collapse: collapse;
    min-width: 100% ;
}
table td a{
    text-shadow:  0 5px 5px #15fd00;
    text-decoration: none;
    color: white;
}

/* dashboard table*/
.all-requests, .all-receipts{
    margin: auto;
    width: 95%;
    overflow: auto;
    max-height: 300px;
    border: 2px solid white;
}
.dashboard{
    margin: auto;
    box-shadow: 0 0 20px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

/* show-recipe */
.show-recipe{
    margin: auto;
    box-shadow: 0 0 20px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px ;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 30px;
    text-align: justify;
}
.show-recipe a{
    color: #15fd00;
}

/* edit-request */
.fieldwrapper-photo{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 2.5fr 3fr 2fr 1fr;
    grid-gap: 5px;
    overflow: hidden;
}
.fieldwrapper-photo input[type="text"]{
    width: 200px;
}
.fieldwrapper-photo img{
    width: 100%;
}


/* login page */
.login_page form{
    max-width: 400px;
}
.request_page .fieldwrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
} 

.recipe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.recipe-card{
    border: 2px solid white;
    font-family: 'Poor Story', cursive;
    font-size: 25px;
}

