body{
    margin: 0 auto;
    background-image: url(/images/pexels-ray-piedra_blur.jpg);
    background-color: #040F16;
    font-family: 'Poor Story', cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
i{
    color: #f5fd00;
}
a{
    text-decoration: none;
}
body .container{
    width: 1200px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Poor Story', cursive;
    font-size: 22px;
    padding: 20px;
}
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
header{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
img{
    width: 100%;
}
h1, h2, h3{
    text-shadow:  0 5px 5px #15fd00;
}
a{
    color: white;
}
.text-alert{
    color:#15fd00;
}

/* header and navigation bar */
nav{
    font-size: 24px;
    float: right;
    margin-top: 40px ;
}

.logo_title {
    width: 200px;
    padding: 10px;
    float: left;
}

/* nav a{
    padding: 10px;
    font-size: 18px;
} */
footer{
    padding-top: 12px;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: #212121;
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* border-top: 1px solid white; */
}
footer img{
    /* height: 50%; */
    width: 10%;
}

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .svg-wrapper {
    margin-top: 10px;
    position: relative;
    width: 130px;
    /*make sure to use same height/width as in the html*/
    height: 50px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
  }
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: whitesmoke;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -200;
    transition: 1.5s all ease;
  }
  #text {
    margin-top: -50px;
    text-align: center;
  }
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }
  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #81fb83;
  }

nav ul li{
    display: inline-block;
}

/* nav ul li a{
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  /* text-shadow:  0 5px 5px #15fd00; */
  /* border: 2px solid white;
  border-radius: 20px; 
} */
/* nav ul li a .btn1::after, a .btn1::before{
    border: 3px solid white;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1; 
    transition: transform 0.3s ease;
} */
/* a .btn1::after{
    transform: translate(-5px, -5px);
}
a .btn1::before{
    transform: translate(5px, 5px);
} */
/* nav a:hover{
  background-color: #b3fd00;
  color: #084a83;
} */

/* form layout */
form{
    margin: auto;
    width: 800px;
    backdrop-filter: blur(10px);
    /* box-shadow: 0 0 20px white; */
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    padding-top: 30px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.fieldwrapper{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.search-results form{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#search_keywords{
    border-radius: 10px;
}
.search-form #search_keywords{
    width: 400px;
}

.fieldwrapper-search{
    margin: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

/* error msg */
.fieldwrapper p{
    font-size: 11px;
    text-align: right;
    font-style: italic;
    color: #fbff00;
    margin: 0px;
    padding: 0px;
}
.errors p{
    font-style: italic;
    color: #fbff00;
    text-align: right;
}

.fieldwrapper input{
    width: 100%;
    height: 20px;
}
.item_fieldwrapper{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.labelwrapper{
    padding: 30px;
    text-align: left;
}

fieldset legend{
    font-size: 20px;
    font-weight: bold;
}

/* input styles */
input:hover{
    border: 2px solid #b3fd00; 
}
#search_keywords{
    width: 200px;
    border: 2px solid white ;
    height: 25px;
    font-size: 20px;
    font-family: 'Poor Story', cursive;
}
/* input, textarea {
    border: 2px solid white;
    height: 25px;
    font-size: 16px;
    font-family: 'Poor Story', cursive;
} */
select{
    height: 30px;
}

/* submit button */
input[type="submit"], input[type="reset"]{
    font-family: 'Poor Story', cursive;
    min-width: 100px;
    margin-top: 30px;
    background-color: #b3fd00;
    font-size: large;
    height: 40px;
}
input[type="submit"]:active, input[type="reset"]:active{
    color: red;
    font-size: x-small;
    box-shadow: none;
}
input[type="submit"]:hover, input[type="reset"]:hover{
    stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

/* receipt */
.tablewrapper{
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
    width: auto;
    display: inline-block;
    padding: 20px;
    font-size: 18px;  
}
.tablewrapper p{
    text-align: left;
    padding: 20px;
} 

/* table, dashboard */
table, td, th {
    border: 2px solid #b3fd00;
    padding: 10px;
}
th{
    position: sticky;
    top: 0;
    background-color: #83b807;
    color: black;
}
table{
    border-collapse: collapse;
    min-width: 100% ;
}
table td a{
    text-shadow:  0 5px 5px #15fd00;
    text-decoration: none;
    color: white;
}

/* dashboard table*/
.all-requests, .all-receipts{
    margin: auto;
    width: 95%;
    overflow: auto;
    max-height: 300px;
    border: 2px solid white;
}
.dashboard{
    margin: auto;
    box-shadow: 0 0 20px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}
.recipe-img-details img{
    max-height: 200px;
    object-fit: fill; 
}

/* show-recipe */
.show-recipe{
    margin: auto;
    box-shadow: 0 0 20px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px ;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 30px;
    text-align: justify;
    background-color: #040f16ad;
}
.show-recipe a{
    color: #15fd00;
}

/* edit-request */
.fieldwrapper-photo{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    grid-gap: 5px;
    overflow: hidden;
}
.fieldwrapper-photo input[type="text"]{
    width: 200px;
    height: 25px;
}
.fieldwrapper-photo img{
    width: fit-content;
    max-height: 80px;
}

/* login page */
.login_page form{
    background-color: #040f16ad;
    max-width: 400px;
}
.request_page .fieldwrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
} 

.fav-recipe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    font-size: 18px;
    text-align: left;
}

.recipe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    font-size: 18px;
    text-align: left;
}

.recipe-card, .about-us{
    background-color: #040f16ad;
    box-shadow: 0px 0px 30px black;
    /* border: 4px solid black; */
    border-radius: 10px;
    border-right: 1px solid #3b505e;
    border-bottom: 1px solid #3b505e;
}
.recipe-card p{
    padding-left: 10px;
}
.recipe-card a{
    color: #15fd00;
}
.recipe-card a i{
    color: #15fd00;
}
button i{
    color: black;
}
.recipe-img-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
}
.recipe-img-details img{
    max-width: fit-content;
    max-height: 300px;
    padding-bottom: 10px;
}

/* about us page */
.aboutus-top{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-top: 20px;
}

.aboutus-top h1{
    padding-top: 40px;
    font-size: 50px;
}

.aboutus-desc{
    width: 600px;
    text-align: justify;
}

.aboutus-bottom{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

.aboutus-bottom a{
    color: #15fd00;
}

.aboutus-bottom p{
    opacity: 60%;
    font-size: 20px;
    margin-top: -25px;
}
.aboutus-bottom img{
    border: #06D6A0;
    box-shadow: 0px 0px 10px white ;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}
footer a{
    color: #15fd00;
}

@media print {
    main{
        color: #040F16;
    }
}